body {
  /* background-color: #333; */
  background: url('../bg.jpg');
  height: 100vh;
}

/* .navbar {

} */

.header-jumbotron {
  width: 100vw;
}

.header-pic {
  width: 50%;
  object-fit: cover;
}